input {
  height: 3rem;
  border-radius: 4px;
  background-color: #fff;
  width: 100%;
  padding: 0 1rem 0 3rem;
  font-size: 1.125rem;
  border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
  outline: transparent solid 2px;
  outline-offset: 2px;
  transition: outline-color 200ms ease-in-out;
  background-image: url("../../assets/search.svg");
  background-repeat: no-repeat;
  background-position: 1rem center;
}

input:hover {
  outline-color: #cbd5e0;
}
